<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="fragments/head :: head">
<body>
<header th:replace="fragments/header :: nav"></header>


<div class="container col-md-6">
    <div class="container col-md">
        <div class="row">
            <div class="card text-white bg-dark col mx-auto" style="width: 20rem; margin-top: 120px;">
                <div class="card-body">
                    <form method="POST" action="#"
                          th:action="@{/admin/submit/UnaCategoria}" href="#" th:object="${categoria}">
                        <div>
                            <input type="number" id="id" th:field="*{id}" hidden/>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md">
                                <label for="inputNombre">Nueva Categoria</label>
                                <input required type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                                       th:field="*{nombre}">
                            </div>
                            <input type="submit" class="btn btn-primary"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table style="margin-top:-4px;" class="table table-condensed table-striped table-light table-bordered">
        <thead class="thead-dark text-center ">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
        </tr>
        </thead>


        <tbody class="text-center tbody-clear">
        <tr th:each="cat : ${lista}">

            <td th:text="${cat.id}">ID falso</td>
            <td th:text="${cat.nombre}">Nombre falso</td>
        </tr>
        </tbody>
    </table>
</div>


<div th:replace="fragments/jsScripts :: scripts"></div>
</body>
</html>