<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head">
<body>
<header th:replace="fragments/header :: nav"></header>
<div class="container col-md-8">
    <div class="row">
    <div class="card text-white bg-dark col mx-auto" style="width: 20rem; margin-top: 75px;">
        <h5 class="card-header">Bienvenido</h5>
        <div class="card-body">
            <h5 class="card-title">¡Me alegro de verte por aquí! </h5>
            <p class="card-text">Esperamos que esté disfrutando de esta pagina web en vias de desarrollo y que encuentre todo a su gusto.
                Si se ha encontrado problemas al intentar acceder con los usuarios de prueba le recomendamos probar los siguientes: <br><br>
                Cuenta de usuario, con la que podra comprar, ver sus pedidos y mucho más: <br>
                Usuario: user@user.com<br>
                Password: user<br><br>
                Cuenta de admin, con la que podra controlar la mayor parte de la web: <br>
                Usuario: admin@admin.com<br>
                Password: admin<br><br>
                Sin más nos despedimos y deseamos que vuelva pronto.</p>
            <a th:href="@{/public/}" class="btn btn-primary">Home</a>
        </div>
    </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>
</html>