<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Formulario de usuario </title>
    <link rel="stylesheet" href=
            "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity=
                  "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" />

    <style type="text/css">
            .ocultar {
                display: none;
            }

            .mostrar {
                display: block;
            }
        </style>

</head>
<body>
<header th:replace="fragments/header :: nav"></header>

<div class="container col-md-8">
    <div class="row">
        <div class="card text-white bg-dark col mx-auto" style="width: 20rem; margin-top: 120px;">
            <div style="margin-top:10px;" id="msg"></div>
            <div style="margin-top:10px;"  id="error" class="alert alert-danger ocultar" role="alert">
                Las Contraseñas no coinciden, vuelvelo a intentar!
            </div>
            <div  style="margin-top:10px;" id="ok" class="alert alert-success ocultar" role="alert">
                Las Contraseñas coinciden! (Procesando formulario ... )
            </div>
            <div class="card-body">
                <h4 class="card-title">Formulario de usuario</h4>

                <form method="post" action="#" th:object="${user}"  id="miformulario"
                      th:action="@{/public/submit/user}" onSubmit="return verificarPasswords()">



                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNombre">Nombre</label>
                            <input required type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                                   th:field="*{nombre}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputApellidos">Apellido</label>
                            <input required th:field="*{apellidos}" type="text" class="form-control" id="inputApellidos"
                                   placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="form-row">
                    <div class="form-group col">
                        <label for="inputEmail">Email</label>
                        <input required th:field="*{email}" type="email" class="form-control" id="inputEmail"
                               placeholder="Email">
                    </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="pass1">Contraseña</label>
                            <input required type="password" class="form-control" id="pass1"
                                   placeholder="Contraseña" th:field="*{contraseña}" name="pass1">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pass2">Repetir contraseña</label>
                            <input required type="password" class="form-control" id="pass2"
                                   placeholder="Repetir contraseña" name="pass2">
                        </div>
                    </div>
                    <div class="form-row" style="margin-left:15px;">
                    <div class="form-check form-group col-md-4" sec:authorize="hasRole('ADMIN')">
                        <input th:field="*{esAdmin}" th:value="${checked} ? 'true':'false'" type="checkbox" class="form-check-input" id="adminCheck">
                        <label class="form-check-label" for="adminCheck" style="margin-left:-15px;">Marcar si es admin</label>
                    </div>
                    </div>
                    <div>
                        <input type="number" id="id" th:field="*{id}" hidden/>
                    </div>
                    <div>
                        <input type="boolean" id="validado" th:field="*{validado}" hidden/>
                    </div>
                    <div>
                        <input type="boolean" id="esAdmin" th:field="*{esAdmin}" hidden/>
                    </div>

                    <button type="submit" id="login" class="btn btn-primary">Guardar</button>


                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity=
                "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity=
                "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous">
</script>
<script src=
                "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity=
                "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
</script>

<script type="text/javascript">

    function verificarPasswords() {

    // Ontenemos los valores de los campos de contraseñas
    pass1 = document.getElementById("pass1");
    pass2 = document.getElementById("pass2");

    // Verificamos si las constraseñas no coinciden
    if (pass1.value != pass2.value) {

        // Si las constraseñas no coinciden mostramos un mensaje
        document.getElementById("error").classList.add("mostrar");

        return false;
    } else {

        // Si las contraseñas coinciden ocultamos el mensaje de error
        document.getElementById("error").classList.remove("mostrar");

        // Mostramos un mensaje mencionando que las Contraseñas coinciden
        document.getElementById("ok").classList.remove("ocultar");

        // Desabilitamos el botón de login
        document.getElementById("login").disabled = true;

        // Refrescamos la página (Simulación de envío del formulario)
        setTimeout(function() {
            location.setTimeout();
        }, 3000);

        return true;
    }

}
</script>
</body>
</html>